body {
    background: #c0c0c0;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    padding-top: 3.75rem;
    padding-bottom: 6rem;
}

/* Navbar */
.navbar {
    letter-spacing: 1px;
}

/* User Logo and User Name */
.login-text {
    padding: 0 0.5rem 0 0.5rem;
}

/* Media Query for login texxt */
@media (min-width: 992px) {
    .login-text {
        padding: 0;
    }
}

/* Blog Post Cards */
.card {
    border: none;
    background-color: transparent;
}

.card-body {
    padding: 0;
}
.card-text {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card-text p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Heart icon preview */
.heart-preview {
    padding-right: 0;
}
.preview-text{
    padding: 0;
}

/* Blog Image Container */
.image-container {
    position: relative;
}

/* Preview Image for blog previews */
.blog-preview {
    position: relative;
}

.blog-preview img {
    max-inline-size: 100%;
    object-fit: cover;
    height: 300px;
}

/* Profile Page Image */
.profile-img img {
    max-inline-size: 100%;
    object-fit: cover;
}

.profile_icons a {
    color: black;
    padding: 0 0.5rem 0 0.5rem;
    font-size: 1.5rem;
}

.profile_icons a:hover {
    color: rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

/* Media Tags for blog previews */
@media (min-width: 576px) {
    .blog-preview img {
        width: 516px;
    }
}

@media (min-width: 768px) {
    .blog-preview img {
        height: 225px;
    }
}

@media (min-width: 992px) {
    .blog-preview img {
        height: 275px;
    }
}

@media (min-width: 1200px) {
    .blog-preview img {
        height: 350px;
        width: 546px;
    }
}

@media (min-width: 1200px) {
    .blog-preview img {
        width: 636px;
    }
}

/* Blog Preview Author Preview */
.blog-author {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    background-color: #8b0000;
    border: 1px solid white;
    border-left: 0;
}

/* Blog Preview Author Text */
.author-text {
    color: white;
    margin: 4px;
    text-transform: capitalize;
}

/* Blog Post Link */
.blog-post-link {
    text-decoration: none;
    color: black;
}

/* Blog Preview Posts */
.card-title {
    font-weight: 600;
}

.blog-post-link:hover,
.page-link {
    color: #8b0000;
}

.card-border {
    border: 1px solid;
    border-top: 0;
    padding: 2%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Blog Post Page */
.masthead {
    margin-top: 1rem;
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image img {
    max-inline-size: 100%;
    object-fit: cover;
    height: 300px;
    width: 100%;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

/* Masthead blog title and subtitles */
.blog-title {
    margin-top: 10%;
    margin-left: 5%;
    text-transform: capitalize;
}

.blog-subtitle {
    margin-left: 5%;
    margin-bottom: 0.5rem;
    color: #c0c0c0;
}

.blog-subtitle a {
    text-decoration: none;
    color: white;
}

.blog-subtitle a:hover {
    color: #fc3030;
}
/* Media query for Masthead blog title and subtitles */
@media (min-width: 768px) {
    .blog-title {
        margin-top: 30%;
    }
}

@media (min-width: 992px) {
    .blog-title {
        margin-top: 22%;
    }
}

@media (min-width: 1200px) {
    .blog-title {
        margin-top: 15%;
    }
}


/* Buttons */
.btn-signup {
    background-color: #003cff;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #003cff;
}

.link {
    color: #23bbbb;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #003cff;
    text-decoration: underline;
}

/* Like Button */
.btn-like {
    color: #003cff;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #003cff;
    background: transparent;
    border: none;
}

/* Cancel Button */
.btn-cnl {
    background-color: #363b3d;
    color: #fff;
}

.btn-cnl:hover,
.btn-cnl:active {
    background-color: #fd7272;
    color: #000;
    border: 1px solid #fd7272;
}

/* Delete Button */
.btn-del {
    background-color: #fc3030;
    color: #000;
}

.btn-del:hover,
.btn-del:active {
    background-color: #fff;
    color: #fc3030;
    border: 1px solid #fc3030;
}

/* Footer Icons */
.f-icons {
    color: black;
    font-size: 1.5rem;
}

.f-icons:hover {
    color: rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

/* Footer Line Break */
.footer-break {
    border-bottom: 1px solid black;
}

/* Footer Copywright Text */
.footer-text {
    font-size: 1rem;
    color: black;
}

/* Timeout Messages */
#msg {
    font-size: 1rem;
    text-align: center;
    color: #000;
    background-color: #e2e3e5;
    border: 3px double #000;
    animation: openclose 5s ease-in-out infinite;
}

/* Disable Help Texts */
.helptext {
    display: none;
}