body {
    background-color: rgb(192, 192, 192);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

/* Footer Icons */
.f-icons {
    color: black;
    font-size: 1.5rem;
}

.f-icons:hover {
    color: rgba(0, 0, 0, 0.5)
}

/* Footer Line Break */
.footer-break {
    border-bottom: 1px solid black;
}

/* Footer Copywright Text */
.footer-text {
    font-size: 1rem;
    color: black;
}