{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row">
        <div class="masthead-image">
            {% if "placeholder" in post.image_upload.url %}
            <img src="https://i.imgur.com/sWaz0pA.jpg" width="100%" />
            {% else %}
            <img src=" {{ post.image_upload.url }}" width="100%" />
            {% endif %}
            <div class="masthead-text">
                <h1 class="blog-title">{{ post.title }}</h1>
                <p class="blog-subtitle">{{ post.author }} | {{ post.date_created }}</p>
            </div>
        </div>
    </div>
</div>
{% if request.user == post.author %}
<div class="container">
    <div class="row">
        <div class="col-xl-4">
            <a href="{% url 'update_post' post.slug %}" class="btn btn-signup m-1">
                <i class="fas fa-pen"></i>
                Update this post</a>
            <button type="button" class="btn btn-del m-1" data-toggle="modal" data-target="#postModal">
                <i class="fas fa-trash"></i> Delete this post
            </button>
        </div>
    </div>
</div>
{% endif %}

<div class="container">
    <div class="row">
        <div class="col card">
            <div class="card-body">
                <p class="card-text">{{ post.content | safe }}</p>
                <div class="row">
                    <strong>
                        {% if user.is_authenticated %}
                        <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                            {% csrf_token %}
                            {% if liked %}
                            <button type="submit" name="blogpost_id" value="{{ post.slug }}" class="btn-like">
                                <i class="fas fa-heart"></i>
                            </button>
                            {% else %}
                            <button type="submit" name="blogpost_id" value="{{ post.slug }}" class="btn-like">
                                <i class="far fa-heart"></i>
                            </button>
                            {% endif %}
                        </form>
                        {% else %}
                        <span class="text-secondary">
                            <i class="far fa-heart"></i>
                        </span>
                        {% endif %}
                        <span class="text-secondary">{{ post.total_likes }}
                        </span>
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary cmts">
                            <i class="far fa-comments" style="padding-left: 0.5rem"></i>
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </strong>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr />
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 card">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments">
                    <p>
                        {{ comment.name }}
                        <span>
                            {{ comment.date_created }}
                        </span>
                        wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card">
            <div class="card-body">
                {% if user.is_authenticated %}
                <h3>Leave a comment:</h3>
                <p>Posting as:
                    {{ user.username }}</p>
                <form method="post" style="margin-top: 1em">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Delete Post Modal -->
<div class="modal fade" id="postModal" tabindex="-1" aria-labelledby="postModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="postModalLabel">
                    Are you sure you want to delete this post?
                </h5>
                <button type="button" class="btn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{ post.title }}</p>
                <p>{{ post.author }} | {{ post.date_created }}</p>
            </div>
            <div class="modal-footer">
                <form action="{% url 'delete_post' post.slug %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-del">Delete</button>
                </form>
                <button type="button" class="btn btn-cnl" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}