{% extends 'base.html' %} {% block content %}
<div class="masthead">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="blog-title">{{ post.title }}</h1>
                <p class="blog-subtitle">{{ post.author }} | {{ post.date_created }}</p>
            </div>
            <div class="masthead-background">
                {% if "placeholder" in post.image_upload.url %}
                <img src="https://i.imgur.com/sWaz0pA.jpg" width="100%" />
                {% else %}
                <img src=" {{ post.image_upload.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col card">
            <div class="card-body">
                <p class="card-text">
                    {{ post.content | safe }}
                </p>
                <div class="row">
                    <div class="col-1">
                        <strong class="text-secondary"><i class="far fa-heart"></i> {{ post.total_likes }}</strong>
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 card">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in Comments %}
                <div class="comments">
                    <p>
                        {{ comment.name }}
                        <span>
                            {{ comment.date_created }}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>







{% endblock content %}