{% extends 'base.html' %}

{% load cloudinary %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h2>Add a Post:</h2>
            <p>Share your workout plan with us!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <br>
                <button type="submit" class="btn btn-signup btn-lg m-1">Submit</button>
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-cnl btn-lg m-1">Cancel</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}