{% extends "base.html" %} {% block content %}

<div class="container-fluid">
    <div class="row">
        <!-- Blog Post Column list -->
        <div class="col-12 mt-4 left">
            <div class="row">
                {% for post in post %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <img class="card-img-top" src="https://i.imgur.com/sWaz0pA.jpg" />
                                <div class="blog-author">
                                    <p class="author-text">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <div class="card-border">
                                <a href="#" class="blog-post-link">
                                    <h2 class="card-title">{{ post.title }}</h2>
                                    <p class="card-text">{{ post.excerpt }}</p>
                                </a>
                                <hr />
                                <p class="card-text h6">{{ post.date_created }}</p>
                                <p class="card-text h6">
                                    <i class="far fa-heart"></i> 1 <i class="far fa-star"></i> 1</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">{% endif %} {% endfor %}</div>
        </div>
    </div>
</div>

{% endblock content %}