{% extends "base.html" %} {% block content %}

<div class="container-fluid">
    <div class="row">
        <!-- Blog Post Column list -->
        <div class="col-12 left">
            <div class="container">
                <div class="row">
                    {% for post in post_list %}
                    <div class="col-md-6 mt-3">
                        <div class="card mb-6">
                            <div class="card-body">
                                <div class="blog-preview">
                                    <!-- Display placeholder image if user has not uploaded one -->
                                    {% if "placeholder" in post.image_upload.url %}
                                    <img class="card-img-top" src="https://i.imgur.com/sWaz0pA.jpg" />
                                    {% else %}
                                    <img class="card-img-top" src="{{ post.image_upload.url }}" />
                                    {% endif %}
                                    <div class="blog-author">
                                        <p class="author-text">Author: {{ post.author }}</p>
                                    </div>
                                </div>
                                <div class="card-border">
                                    <a href="{% url 'blog_post' post.slug %}" class="blog-post-link">
                                        <h3 class="card-title">{{ post.title | truncatechars:75 }}</h3>
                                        <p class="card-text">{{ post.content | truncatechars:50 | safe }}</p>
                                    </a>
                                    <hr />
                                    <p class="card-text h6">{{ post.date_created }}</p>
                                    <p class="card-text h6">
                                        <i class="far fa-heart"></i> {{ post.total_likes }}  |  
                                        <i class="far fa-comments"></i> {{ post.comments.count }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Displays block post in colums of 2 -->
                    {% if forloop.counter|divisibleby:2 %}
                </div>
            </div>
            <div class="container">
                <div class="row">{% endif %} {% endfor %}</div>
            </div>
        </div>
    </div>
    <!-- If blog page has more than 6 blog posts with paginate page -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center mt-3">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
            </li>
            {% endif %} {% if page_obj.has_next %}
            <li>
                <a href="?page={{ page_obj.next_page_number }}" class="page-link">NEXT &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock content %}