{% extends 'base.html' %}

{% load cloudinary %}

{% load countries %}

{% load crispy_forms_tags static %}

{% block content %}

<div class="container text-center">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <div class="card-body">
                <div class="profile-img">
                    {% if "placeholder" in page_user.profile_image.url %}
                    <img src="https://i.imgur.com/sWaz0pA.jpg" width="200" height="200" class="rounded-circle" />
                    {% else %}
                    <img src=" {{ page_user.profile_image.url }}" width="200" height="200" class="rounded-circle" />
                    {% endif %}
                </div>
                <h1>{{ page_user | title }}</h1>
                <div class="row">
                    {% if page_user.first_name %}
                    {% if page_user.last_name %}
                    <h4>{{ page_user.first_name }} {{ page_user.last_name }}</h4>
                    {% endif %}
                    {% endif %}
                    {% if page_user.country %}
                    <span>{{ page_user.country.name }}, {{ page_user.country }}</span>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="profile_icons mt-2">
                        {% if page_user.twitter_url %}
                        <a href="{{ page_user.twitter_url }}" target="_blank">
                            <i class="fab fa-twitter f-icons"></i></a>
                        {% endif %}
                        {% if page_user.instagram_url %}
                        <a href="{{ page_user.facebook_url }}" target="_blank">
                            <i class="fab fa-facebook f-icons"></i></a>
                        {% endif %}
                        {% if page_user.instagram_url %}
                        <a href="{{ page_user.instagram_url }}" target="_blank">
                            <i class="fab fa-instagram f-icons"></i></a>
                        {% endif %}
                        {% if page_user.website_url %}
                        <a href="{{ page_user.website_url }}" target="_blank">
                            <i class="far fa-id-card"></i></a>
                        {% endif %}
                    </div>
                </div>
                <hr />
                <div class="row">
                    <h4>{{ page_user.user }}'s' Bio:</h4>
                    {% if page_user.bio %}
                    <p>{{ page_user.bio | safe }}</p>
                    {% else %}
                    <p>{{ page_user.user | title }} has not created a bio yet.</p>
                    {% endif %}

                    <div class="col-md-6">
                        {% if page_user.gym_focus %}
                        <h5>Gym Goals:</h5>
                        <p>{{ page_user.gym_focus }}</p>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        {% if page_user.occupation %}
                        <h5>Occupation:</h5>
                        <p>{{ page_user.occupation }}</p>
                        {% endif %}
                    </div>
                </div>
                {% if request.user.id == profile.user.id %}
                <div class="align-items-center">
                    <hr />
                    <a href="{% url 'edit_profile_page' user.profile.id %}" class="btn btn-signup m-1">
                        <i class="fas fa-pen"></i> Update Profile</a>
                    <button type="button" class="btn btn-del m-1" data-toggle="modal" data-target="#deleteUser">
                        <i class="fas fa-trash"></i> Delete Profile</button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <!-- Blog Post Column list -->
        <div class="col-12 left">
            <div class="container">
                <div class="row">
                    {% for post in post_list %}
                    <div class="col-md-6 mt-3">
                        <div class="card mb-6">
                            <div class="card-body">
                                <div class="blog-preview">
                                    <!-- Display placeholder image if user has not uploaded one -->
                                    {% if "placeholder" in post.image_upload.url %}
                                    <img class="card-img-top" src="https://i.imgur.com/sWaz0pA.jpg" />
                                    {% else %}
                                    <img class="card-img-top" src="{{ post.image_upload.url }}" />
                                    {% endif %}
                                    <div class="blog-author">
                                        <p class="author-text">Author: {{ post.author }}</p>
                                    </div>
                                </div>
                                <div class="card-border">
                                    <a href="{% url 'blog_post' post.slug %}" class="blog-post-link">
                                        <h3 class="card-title">{{ post.title | truncatechars:75 }}</h3>
                                        <p class="card-text">{{ post.content | truncatechars:50 | safe }}</p>
                                    </a>
                                    <hr />
                                    <p class="card-text h6">{{ post.date_created }}</p>
                                    <p class="card-text h6">
                                        <i class="far fa-heart"></i> {{ post.total_likes }} |
                                        <i class="far fa-comments"></i> {{ post.comments.count }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Displays block post in colums of 2 -->
                    {% if forloop.counter|divisibleby:3 %}
                </div>
            </div>
            <div class="container">
                <div class="row">{% endif %} {% endfor %}</div>
            </div>
        </div>
    </div>
</div>

{% if request.user.id == profile.user.id %}
<div class="container text-center">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <hr>
            <div class="align-items-center">
                <a href="{% url 'add_post' %}" class="btn btn-signup m-1">
                    <i class="fas fa-pen"></i> Create Your First Post</a>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!-- Delete User Modal -->
{% if request.user.id == profile.user.id %}
<div class="modal fade" id="deleteUser" tabindex="-1" aria-labelledby="deleteUserLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteUserLabel">
                    Are you sure you want to delete your profile?
                </h5>
                <button type="button" class="btn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Deleting your profile will delete your account and all of your blog posts.</p>
                <p>If you delete your account, You will not be able to Create posts, leave comments or like posts.</p>
            </div>
            <div class="modal-footer">
                <form action="{% url 'delete_profile' user.profile.id %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-del">Delete</button>
                </form>
                <button type="button" class="btn btn-cnl" data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock content %}