{% extends 'base.html' %}

{% load cloudinary %}

{% load countries %}

{% load crispy_forms_tags static %}

{% block content %}

<!-- Profile Display container -->
<div class="container text-center">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <div class="card-body">
                <div class="profile-img">
                    <!-- Display placeholder image if user has not uploaded a photo,
                    sets height and width for defencive design -->
                    {% if "placeholder" in page_user.profile_image.url %}
                    <img src="https://i.imgur.com/sWaz0pA.jpg" width="200" height="200" class="rounded-circle" alt="placeholder image">
                    {% else %}
                    <!-- Displays users uploaded profile image -->
                    <img src=" {{ page_user.profile_image.url }}" width="200" height="200" class="rounded-circle" alt="uploaded profile image">
                    {% endif %}
                </div>
                <!-- Profile users name in h1 tags -->
                <h1>{{ page_user | title }}</h1>
                <div class="row">
                    <!-- If users have a fist and last name displayed in h4 tags,
                    If not found, nothing will be displayed -->
                    {% if page_user.first_name %}
                    {% if page_user.last_name %}
                    <h4>{{ page_user.first_name }} {{ page_user.last_name }}</h4>
                    {% endif %}
                    {% endif %}
                    <!-- Displays user selected country,
                    If not found, nothing will be displayed -->
                    {% if page_user.country %}
                    <span>{{ page_user.country.name }}, {{ page_user.country }}</span>
                    {% endif %}
                </div>
                <!-- Displays users social media links,
                If not found, nothing will be displayed -->
                <div class="row">
                    <div class="profile_icons mt-2">
                        {% if page_user.twitter_url %}
                        <a href="{{ page_user.twitter_url }}" target="_blank">
                            <i class="fab fa-twitter f-icons"></i></a>
                        {% endif %}
                        {% if page_user.instagram_url %}
                        <a href="{{ page_user.facebook_url }}" target="_blank">
                            <i class="fab fa-facebook f-icons"></i></a>
                        {% endif %}
                        {% if page_user.instagram_url %}
                        <a href="{{ page_user.instagram_url }}" target="_blank">
                            <i class="fab fa-instagram f-icons"></i></a>
                        {% endif %}
                        {% if page_user.website_url %}
                        <a href="{{ page_user.website_url }}" target="_blank">
                            <i class="far fa-id-card"></i></a>
                        {% endif %}
                    </div>
                </div>
                <hr>
                <!-- Displays users bio -->
                <div class="row">
                    <h4>{{ page_user.user }}'s' Bio:</h4>
                    {% if page_user.bio %}
                    <p>{{ page_user.bio | safe }}</p>
                    {% else %}
                    <!-- If user has not yet created a bio a placeholder message is displayed -->
                    <p>{{ page_user.user | title }} has not created a bio yet.</p>
                    {% endif %}
                    <!-- Displays users Gym Goals:
                    If not found, nothing will be displayed -->
                    <div class="col-md-6">
                        {% if page_user.gym_focus %}
                        <h5>Gym Goals:</h5>
                        <p>{{ page_user.gym_focus }}</p>
                        {% endif %}
                    </div>
                    <!-- Displays users Occupation,
                    If not found, nothing will be displayed -->
                    <div class="col-md-6">
                        {% if page_user.occupation %}
                        <h5>Occupation:</h5>
                        <p>{{ page_user.occupation }}</p>
                        {% endif %}
                    </div>
                </div>
                <!-- If users logged in is the users profile they are able to view the update and delete profile buttons -->
                {% if request.user.id == profile.user.id %}
                <div class="align-items-center">
                    <hr >
                    <a href="{% url 'edit_profile_page' user.profile.id %}" class="btn btn-signup m-1">
                        <i class="fas fa-pen"></i> Update Profile</a>
                    <button type="button" class="btn btn-del m-1" data-bs-toggle="modal" data-bs-target="#deleteUser">
                        <i class="fas fa-trash"></i> Delete Profile</button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Delete User Modal -->
{% if request.user.id == profile.user.id %}
<div class="modal fade" id="deleteUser" tabindex="-1" aria-labelledby="deleteUserLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteUserLabel">
                    Are you sure you want to delete your profile?
                </h5>
                <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Deleting your profile will delete your account and all of your blog posts.</p>
                <p>If you delete your account, You will not be able to Create posts, leave comments or like posts.</p>
            </div>
            <div class="modal-footer">
                <form action="{% url 'delete_profile' user.profile.id %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-del">Delete</button>
                </form>
                <button type="button" class="btn btn-cnl" data-bs-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock content %}